.content {
  height: 100vh;
}

.form-fale-conosco {
  display: flex;
  flex-direction: ROW;
}

.form-input-fale-conosco {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input-fale-conosco input {
  margin: 0  ;
  padding: 20px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
} 

.form-input-fale-conosco textarea {
  margin: 0  ;
  padding: 20px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
} 


.form-button-fale-conosco {
  padding: 20px;
  height: 30px;

  margin-top: 20px;
  margin-left: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  

  background-color: #D3222A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button-fale-conosco p {
  font-size: 1rem;
  color: white;
}


.form-fale-conosco-first-half {
  width: 40%;
  margin: 20px 30px;
}

.form-fale-conosco-second-half {
  width: 40%;
  margin: 20px 30px;
}


