.contentLanches {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.lanches {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;

  margin: 30px 100px ;

  width: 80vw;

}
