.nav-bar {
  background-color: #D3222A;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.nav-bar-div {
  align-self: center;
}

.linkActive {
  font-size: 1.6rem;
  text-decoration: none;
  color: darkslategray;
  cursor: pointer;
} 

.link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fbb82c;
  cursor: pointer;
}

.login {
  color: white;
}

.link:hover {
  color: rgb(68, 77, 87);
} 

.nav-image {
  margin: 20px 10px;
  width: 125px;
  height: 100px;
}